<!DOCTYPE html>
<html>

<head>
    <title>Story 6 Aan</title>
</head>

<body>
    <h1 class="Greetings">Halo, apa kabar?</h1>
    <div class="containerAdd">
        <form method="POST" class="post-form form-group">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                <h3 class="titleStatus"> {{field.label}}</h3>
                {{field}}
            {% endfor %}
            <button type="submit" class="save btn btn-default"  id="button" style="margin-top:50px; margin-bottom:25px"> Tambah Status</button>        </form>
    </div>
    <div class="container-fluid" id="main-content">
        {% for stat in status %}
            <div class="flex-row">
                <div class="col-sm-12">
                    <h3 class="status"> {{stat.status}}</h3>
                </div>
            </div>
        {% endfor %}
    </div>


</body>

</html>
